.callback {
	background: #e9e9e9;
	
	&__form {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	&__title {
		text-align: center;
		font-weight: 600;
		font-size: 30px;
		color: #635c73;
		margin-right: 70px;
	}
	@mixin input-btn {
		border-radius: 50px;
		border: none;
		outline: none;
		font-size: 14px;
		padding: 12px 30px;
		box-sizing: border-box;
	}
	&__input {
		@include input-btn;
		margin-right: 20px;
	}
	&__btn {
		@include input-btn;
		padding: 12px 32px;
		background: $violet;
		border: 1px solid transparent;
		cursor: pointer;
		color: #fff;
		transition: .2s;

		&:hover {
			background: #fff;
			border-color: $violet;
			color: $violet;
		}
	}
}

//=====================================================================
@media only screen and (max-width: 400px) {
	.callback__input {
		width: 100%;
		margin-right: 0;
	}
}
@media only screen and (max-width: 480px){
	.callback__title {
		color: #333;
	}
}
@media only screen and (min-width: 401px) and (max-width: 480px) {
	.callback__title {
		margin: 0;
		margin-bottom: 30px;
	}
	.callback__form {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.callback__input {
		width: 100%;
		margin-right: 0;
	}
}

@media only screen and (min-width: 481px) and (max-width: 992px) {
	.callback__form {
		flex-direction: row;
		justify-content: center;
	}
	.callback__input {
		width: 43vw;
		margin-right: 0;
	}
	.callback__input:nth-child(2){
		margin-right: 5vw;
	}
}
@media only screen and (max-width: 992px){
	.callback__title {
		width: 100%;
		margin: 0;
		margin-bottom: 30px;
	}
	.callback__form {
		justify-content: center;
	}
	.callback__input {
		margin-bottom: 20px;
	}
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
	.callback__input {
		width: 24vw;
	}
}
@media only screen and (min-width: 1200px) {
	.callback__input {
		width: 300px;
	}
}