.feedback {
  background-color: #fff;
  .container {
    padding-top: 87px;
    padding-bottom: 80px;
  }
  .slider {
    margin: 0 auto;
    width: 70%;

    .slide{
      margin-bottom: 40px;  
      outline: none;

      &__userinfo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 30px;
      }
      &__img {
        border-radius: 50%;
        width: 85px;
        margin-right: 23px;
      }
      &__username {
        font-family: Montserrat;
        color:  #635c73;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
      }
      &__link {
        display: block;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        color: $violet;
        outline: none;
        text-decoration: none;
      }
      &__comment {
        font-family: Lato;
        text-align: center;
        color: #333;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 30px;
      }
      &__commentlink {
        color: $violet;
        outline: none;
        text-decoration: none;
      }
      &__time {
        color:  #848e97;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
      }
    }
    &__line {
      height: 1px;
      background: #f4f4f4;
      width: 70%;
      margin: 0 auto;
    }
  }
}
.slick-prev {
  left: -90px;
}
.slick-next {
  right: -90px;
}
.followUs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;

  &__btn {
    width: 240px;
    padding: 14px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 0 20px;
    text-align: left;
    text-decoration: none;
  }
  &__text {
    font-size: 20px;
    padding-left: 20px;
    font-weight: 400;
  }
  &_theme_git {
    background-color: #f3f3f3;
    color: #333;

    &:hover {
      background-color: #2b414d;
      color: #fff;
      border: 1px solid transparent;
    }
  }
  &_theme_twitter {
    background-color: #26a6d1;
    color: #ffffff;

    &:hover {
      background-color: #fff;
      color: #26a6d1;
      border: 1px solid #26a6d1;
    }
  }
  &_theme_fb {
    background-color: #3b5998;
    color: #ffffff;

    &:hover {
      background-color: #fff;
      color: #3b5998;
      border: 1px solid #3b5998;
    }
  }
  &__block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
}
.fab {
  font-size: 20px;
  margin: 0 20px 0 20px;
}
.counter {
  padding: 18px 0;
  font-size: 14px;
  color: #848e97;
  font-weight: 400;
}
